@import url("https://fonts.googleapis.com/css2?family=Inter:,wght@0,400;0,700;1,400;1,700&family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-base: "Lexend", sans-serif;
  --font-second-base: "Inter", sans-serif;
  --bg-color: #000;
  --primary-color: #ffffff;
  --secondary-color: #e50914;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-base);
  color: white;
}
